body {
  background-color: #f7fafc;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.Grid {
  width: 300px;
  height: 300px;
  background: #000;
  border: 10px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
}

.Grid-Middle {
  width: 150px;
  height: 150px;
  z-index: 10;
  border-radius: 100%;
  background: #000;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
}

.Square {
  width: 145px;
  height: 145px;
  position: absolute;
}

.Square-Red {
  background-color: #e53e3e;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 100%;
}

.Square-Red-Highlight {
  background-color: #feb2b2;
}

.Square-Blue {
  background-color: #3182ce;
  left: 0;
  top: 0;
  border-top-left-radius: 100%;
}

.Square-Blue-Highlight {
  background-color: #bee3f8;
}

.Square-Yellow {
  background-color: #d69e2e;
  right: 0;
  top: 0;
  border-top-right-radius: 100%;
}

.Square-Yellow-Highlight {
  background-color: #fefcbf;
}

.Square-Green {
  background-color: #38a169;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 100%;
}

.Square-Green-Highlight {
  background-color: #9ae6b4;
}